<mdb-card>
    <mdb-card-header class="cyan text-white">
        <mdb-icon fas icon="edit"></mdb-icon> Find Similar Studies
    </mdb-card-header>
    <mdb-card-body>
        <form>
            <div class="row container">
                <div class="col-6">
                    <div class="form-group row">

                        <label for="id" class="col-sm-4 col-form-label font-weight-bold">Therapautic Area*</label>
                        <div class="col-sm-7">
                            <div class="md-form mt-0">
                                <select class="form-control" id="college" name="college_name" [(ngModel)]="therapauticArea">
						<option>Respiratory</option>
						<option>Infectious Diseases</option>
						<option>Metabolic</option>
						<option>Neurosciences</option>
						<option>Urology</option>
						<option>Cardiovascular Diseases</option>
						<option>Oncology</option>
						<option>Musculoskeletal Diseases</option>
						<option>Dermatology</option>
						<option>Inflammation</option>
						<option>Gastrointestinal</option>
						<option>Vaccines Prophylactic</option>
						<option>Vaccines Therapeutic</option>
						<option>Ophthalmology</option>
						<option>Vaccines</option>
						<option>Anesthesiology</option>
						<option>Not Applicable</option>
						<option>Autoimmune</option>
						<option>Other</option>
						<option>Hematology</option>
						<option>Nutrition</option>
						<option>Nicotine Dependence</option>
						<option>Oral Health</option>
						<option>Nephrology</option>
                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <!-- Material input -->
                        <label for="id" class="col-sm-4 col-form-label font-weight-bold">Study Type*</label>
                        <div class="col-sm-7">
                            <div class="md-form mt-0">
                                <select class="form-control" id="college" name="college_name" [(ngModel)]="studyType">
						<option>Intv-Clinical Trial</option>
						<option>Interventional</option>
						<option>Intv-Other</option>
						<option>Non Intv-Other</option>
						<option>Non Intv-Health Outcomes</option>
						<option>Intv-Post Marketing</option>
						<option>Intv-Methodology</option>
						<option>Non Intv-Epidemiology</option>
						<option>Intv-Genetics</option>
						<option>Non-Intervent-clin pharm</option>
						<option>Non Intv-Methodology</option>
						<option>Intv-Epidemiology</option>
						<option>Non Intv-Genetics</option>
						<option>Non Intv-Meta/Pooled Analysis</option>
						<option>Non Intv-Microbiology</option>
						<option>Low Intv-Epidemiology</option>
						<option>Non-Interventional</option>
						<option>Non Intv-Post Marketing</option>
						<option>Interventional-microbiology</option>
						<option>Non-Intervent-epidemiology</option>
						<option>Interventional-post marketing</option>
						<option>Non-Intervent-meta analysis</option>
						<option>Low Intv-Health Outcomes</option>
						<option>Intv-Health Outcomes</option>
						<option>Non-Intervent-post marketing</option>
						<option>Non-Intervent-health outcomes</option>
						<option>TBD</option>
						<option>Low Intv-Methodology</option>
						<option>Interventional-sensory</option>
						<option>Non-Intervent-sensory</option>
						<option>Low Intv-Clinical Trial</option>
						<option>Low Intv-Other</option>
						<option>Low Intv-Post Marketing</option>
						<option>Intv-Interaction</option>
                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <!-- Material input -->
                        <label for="id" class="col-sm-4 col-form-label font-weight-bold">Phase*</label>
                        <div class="col-sm-7">
                            <div class="md-form mt-0">
                                <select class="form-control" id="college" name="college_name" [(ngModel)]="phase">
						<option>PHASE IIIB</option>
						<option>PHASE I</option>
						<option>PHASE IIA</option>
						<option>PHASE IIIA</option>
						<option>PHASE IIB</option>
						<option>PHASE IV</option>
                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <!-- Material input -->
                        <label for="id" class="col-sm-4 col-form-label font-weight-bold">Study Duration</label>
                        <div class="col-sm-7">
                            <div class="md-form mt-0">
                                <input mdbInput type="text" class="form-control" id="id">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <!-- Material input -->
                        <label for="id" class="col-sm-4 col-form-label font-weight-bold">Population Size</label>
                        <div class="col-sm-7">
                            <div class="md-form mt-0">
                                <input mdbInput type="text" class="form-control" id="id">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <!-- Material input -->
                        <label for="id" class="col-sm-4 col-form-label font-weight-bold">Medical Condition</label>
                        <div class="col-sm-7">
                            <div class="md-form mt-0">
                                <input mdbInput type="text" class="form-control" id="id">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <!-- Material input -->
                        <label for="id" class="col-sm-4 col-form-label font-weight-bold">Eligibility Criteria</label>
                        <div class="col-sm-7">
                            <div class="md-form mt-0">
                                <input mdbInput type="text" class="form-control" id="id">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-6">

                    <div class="form-group row">
                        <!-- Material input -->
                        <label for="id" class="col-sm-4 col-form-label font-weight-bold">Investigator Sponsored</label>
                        <div class="col-sm-7">
                            
                            <div class="row">
                                            <div class="custom-control custom-radio offset-1 col-5">
                                              <input type="radio" class="custom-control-input" id="defaultUncheckeds" name="defaultExampleRadios" mdbInput>
                                              <label class="custom-control-label font-weight-bold" for="defaultUncheckeds">Yes</label>
                                            </div>
                                  
                                            <div class="custom-control custom-radio col-6">
                                              <input type="radio" class="custom-control-input" id="defaultCheckeds" name="defaultExampleRadios" checked mdbInput>
                                              <label class="custom-control-label font-weight-bold" for="defaultCheckeds">No</label>
                                            </div>
                            
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <!-- Material input -->
                        <label for="id" class="col-sm-4 col-form-label font-weight-bold">Asset List</label>
                        <div class="col-sm-7">
                            <div class="md-form mt-0">
                                <input mdbInput type="text" class="form-control" id="id">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <!-- Material input -->
                        <label for="id" class="col-sm-4 col-form-label font-weight-bold">Human Subject Enrolled</label>
                        <div class="col-sm-7">
                            
                                    <div class="row">
                                            <div class="custom-control custom-radio offset-1 col-5">
                                              <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadio" checked mdbInput>
                                              <label class="custom-control-label font-weight-bold" for="defaultChecked">Yes</label>
                                            </div>
                                  
                                            <div class="custom-control custom-radio col-6">
                                              <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadio" mdbInput>
                                              <label class="custom-control-label font-weight-bold" for="defaultUnchecked">No</label>
                                            </div>
                            
                        </div>
                    </div>
                    </div>
                    <div class="form-group row">
                        <!-- Material input -->
                        <label for="id" class="col-sm-4 col-form-label font-weight-bold">Study Status</label>
                        <div class="col-sm-7">
                            <div class="md-form mt-0">
                                <input mdbInput type="text" class="form-control" id="id">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <!-- Material input -->
                        <label for="id" class="col-sm-4 col-form-label font-weight-bold">Population</label>
                        <div class="col-sm-7">
                            <div class="md-form mt-0">
                                <input mdbInput type="text" class="form-control" id="id">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <!-- Material input -->
                        <label for="id" class="col-sm-4 col-form-label font-weight-bold">Study Design</label>
                        <div class="col-sm-7">
                            <div class="md-form mt-0">
                                <input mdbInput type="text" class="form-control" id="id">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div class="form-group row text-center">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-md" (click)="advancedSearchClick()">
                        <mdb-icon fas icon="plus"></mdb-icon> Advanced Search
                    </button>
                </div>
            </div> -->
            <div class="form-group row text-center">
                <div class="col-sm">
                    <button type="submit" class="btn btn-info btn-md" (click)="generateRisk()">
                        <mdb-icon fas icon="search"></mdb-icon> Find
                    </button>
                </div>
                <div class="col-md">
                    <button type="submit" class="btn btn-info btn-md" (click)="reset()">
                        <mdb-icon fas icon="save"></mdb-icon> Save Search Criteria
                    </button>
                </div>
            </div>
        </form>
    </mdb-card-body>
</mdb-card>

<mdb-card *ngIf="advancedSearchClicked">
    <mdb-card-header class="cyan text-white">
        <mdb-icon fas icon="edit"></mdb-icon> Advanced Search
    </mdb-card-header>
    <mdb-card-body>
        <form>
            <div class="form-group row">

                <label for="id" class="col-sm-4 col-form-label font-weight-bold">Study Duration</label>
                <div class="col-sm-7">
                    <div class="md-form mt-0">
                        <input mdbInput type="search" class="form-control mdb-autocomplete" id="id">
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <!-- Material input -->
                <label for="id" class="col-sm-4 col-form-label font-weight-bold">Population Size</label>
                <div class="col-sm-7">
                    <div class="md-form mt-0">
                        <input mdbInput type="text" class="form-control" id="id">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <!-- Material input -->
                <label for="id" class="col-sm-4 col-form-label font-weight-bold">Medical Condition</label>
                <div class="col-sm-7">
                    <div class="md-form mt-0">
                        <input mdbInput type="text" class="form-control" id="id">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <!-- Material input -->
                <label for="id" class="col-sm-4 col-form-label font-weight-bold">Eligibility Criteria</label>
                <div class="col-sm-7">
                    <div class="md-form mt-0">
                        <input mdbInput type="text" class="form-control" id="id">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <!-- Material input -->
                <label for="id" class="col-sm-4 col-form-label font-weight-bold">Study Design</label>
                <div class="col-sm-7">
                    <div class="md-form mt-0">
                        <input mdbInput type="text" class="form-control" id="id">
                    </div>
                </div>
            </div>
            <div class="form-group row text-center">
                <div class="col-sm">

                    <button type="button" mdbBtn color="primary" class="btn btn-info btn-md" mdbWavesEffect (click)="search()" >
                        <mdb-icon fas icon="search"></mdb-icon> Find</button>
                </div>
                <div class="col-md">
                    <button type="submit" class="btn btn-danger btn-md" (click)="cancelAdvSearch()">
                        <mdb-icon fas icon="undo-alt"></mdb-icon> Cancel
                    </button>
                </div>
            </div>
        </form>
    </mdb-card-body>
</mdb-card>

